.category-item {
  display: flex;
  width: 350px;
}

.category-item__image {
  width: 88px;
  height: 88px;
  margin: 8px;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.category-item__image img {
  width: 100%;
}

.category-item__details {
  margin: 8px;
  flex-grow: 0;
  flex-shrink: 0;
}

.category-item__name {
  margin-top: 0;
  font-weight: 600;
}

.category-item__address {
  font-size: 0.9em;
}

@media only screen and (min-width: 1100px) {
  .category-item {
    width: 100%;
    margin: 16px 0;
  }
}
