.nav {
  font-family: 'Atma', cursive;
  font-size: 1.1em;
  width: 300px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  cursor: pointer;
  margin: auto;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

.nav__button {
  color: rgb(11, 11, 97);
  font-family: 'Atma', cursive;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  outline: none;
  border: none;
  border-radius: 3% 3% 0 0;
  background-color: white;
  display: flex;
}

.nav__button:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.nav__button-heading {
  padding-left: 30px;
  align-self: center;
}

.nav__arrow--down {
  width: 8%;
  filter: invert(80%);
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  background-color: white;
  border-radius: 0 0 3% 3%;
  display: none;
}

.nav__list--open {
  display: block;
}

.nav__item {
  display: flex;
  margin: 0;
  padding: 0.5em;
}

.nav__category-icon {
  width: 13%;
  height: 13%;
}

.nav__item:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 3%;
}

.nav__link {
  text-decoration: none;
  text-align: left;
  align-self: center;
  position: relative;
  padding-left: 30px;
}

.nav__link::after {
  content: '';
  padding: 27px 150px;
  position: absolute;
  left: -40px;
  top: -15px;
}

.nav__link--playgrounds {
  color: #68bdff;
}

.nav__link--outdoor-spaces {
  color: #6cbf45;
}

.nav__link--inner-spaces {
  color: #ffcf00;
}

.nav__link--restaurants {
  color: #fb973c;
}

.nav__link--groups {
  color: #ff2222;
}

.nav__link--kindergartens {
  color: #eb00eb;
}

.nav__link--doctors {
  color: #512fd8;
}

@media only screen and (min-width: 760px) {
  .nav {
    font-size: 1.3em;
    width: 400px;
  }

  .nav__arrow--down {
    width: 5%;
  }

  .nav__category-icon {
    width: 8%;
    height: 8%;
  }

  .nav__link::after {
    padding: 27px 200px;
  }
}

@media only screen and (min-width: 1100px) {
  .nav {
    width: 80%;
  }

  .nav__arrow--down {
    width: 8%;
  }

  .nav__category-icon {
    width: 13%;
    height: 13%;
  }

  .nav--main {
    box-shadow: none;
    font-size: 1.2em;
  }

  .nav__button--main {
    display: none;
  }

  .nav__list--main {
    display: block;
  }

  .nav__link::after {
    padding: 31px 160px;
    left: -70px;
  }
}

@media only screen and (min-width: 1400px) {
  .nav {
    font-size: 1.4em;
  }

  /*.nav__button,*/
  .nav__item {
    padding: 0.7em;
  }

  .nav__link::after {
    padding: 43px 180px;
    top: -25px;
  }
}
