* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Atma', cursive;
  position: relative;
  height: 180px;
}

.main-heading {
  text-decoration: none;
  color: #1a1a1d;
  text-align: center;
  display: block;
  font-size: 1.1em;
}

.nav {
  width: 300px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3%;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 90px;
  font-size: 1.1em;
  cursor: pointer;
}

.nav__button {
  color: rgb(11, 11, 97);
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: white;
  border: none;
  font-family: 'Atma', cursive;
  padding: 0.5em;
  border-radius: 3% 3% 0 0;
  display: flex;
}

.nav__button:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
}

.button__heading {
  padding-left: 30px;
  align-self: center;
}

.nav__arrow--down {
  width: 8%;
  filter: invert(80%);
  align-self: center;
  justify-self: flex-end;
  margin-left: auto;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  background-color: white;
  border-radius: 0 0 3% 3%;
  display: none;
}

.nav__list--open {
  display: block;
}

.nav__item {
  display: flex;
  margin: 0;
  padding: 0.5em;
}

.nav__category-icon {
  width: 13%;
  height: 13%;
}

.nav__item:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 3%;
}

/*rozšířit na celou plochu pro hover a pro klik*/
.nav__link {
  text-decoration: none;
  text-align: left;
  align-self: center;
  position: relative;
  padding-left: 30px;
}

/* je potřeba spravit šířku, na desktopu to leze mimo políčko */
.nav__link:after {
  content: '';
  padding: 36px 200px;
  position: absolute;
  left: -45px;
  top: -25px;
}

.nav__link--playgrounds {
  color: #68bdff;
}

.nav__link--outdoor-spaces {
  color: #6cbf45;
}

.nav__link--inner-spaces {
  color: #ffcf00;
}

.nav__link--restaurants {
  color: #fb973c;
}

.nav__link--groups {
  color: #ff2222;
}

.nav__link--kindergartens {
  color: #eb00eb;
}

.nav__link--doctors {
  color: #512fd8;
}

@media only screen and (min-width: 760px) {
  header {
    height: 220px;
  }

  .main-heading {
    font-size: 1.5em;
  }

  .nav {
    width: 400px;
    font-size: 1.3em;
    top: 125px;
  }

  .nav__arrow--down {
    width: 5%;
  }

  .nav__category-icon {
    width: 8%;
    height: 8%;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    float: left;
    z-index: 1;
    background-color: white;
    width: 30%;
    height: 100vh;
  }

  .main-heading {
    font-size: 1.1em;
  }

  .nav {
    width: 80%;
  }

  .nav__arrow--down {
    width: 8%;
  }

  .nav__category-icon {
    width: 13%;
    height: 13%;
  }

  .nav--main {
    box-shadow: none;
    font-size: 1.5em;
  }

  .nav__button--main {
    display: none;
    background: blue;
  }

  .nav__list--main {
    display: block;
  }

  .nav__item:hover {
    background-color: white;
  }
}

@media only screen and (min-width: 1400px) {
  .main-heading {
    font-size: 1.3em;
  }

  .nav--main {
    font-size: 1.6em;
  }
}
