* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  border: 1px solid black;
  width: 40%;
  margin: auto;
}

.nav__category-icon {
  width: 20%;
  height: 20%;
}

.nav__item {
  display: flex;
  padding: 15px 0 15px 0;
}

.nav__list {
  list-style-type: none;
  padding: 0;
  width: 50%;
  font-family: 'Atma', cursive;
}

.nav__link {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  text-align: left;
  padding-left: 30px;
}

.main-heading {
  text-decoration: none;
  font-family: 'Atma', cursive;
  color: #1a1a1d;
  text-align: center;
  display: block;
}

.nav__link--playgrounds {
  color: #68bdff;
}

.nav__link--outdoor_spaces {
  color: #6cbf45;
}

.nav__link--inner_spaces {
  color: #ffcf00;
}

.nav__link--restaurants {
  color: #fb973c;
}

.nav__link--groups {
  color: #ff2222;
}

.nav__link--kindergartens {
  color: #eb00eb;
}

.nav__link--doctors {
  color: #512fd8;
}

.nav__item--all {
  color: rgb(11, 11, 97);
  font-size: 1em;
  font-weight: 600;
  width: 100%;
}
