* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  background-color: white;
  position: relative;
  z-index: 1; /* jen kvůli form ikonce */
  width: 100vw;
  height: 130px;
}

header {
  font-family: 'Atma', cursive;
}

.main-heading {
  text-decoration: none;
  color: #1a1a1d;
  font-size: 1.1em;
  text-align: center;
  display: block;
  cursor: pointer;
}

.header__btn {
  display: none;
}

@media only screen and (min-width: 500px) {
  .header__btn {
    display: block;
    background-color: white;
    outline: none;
    border: none;
    width: 45px;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .header__btn a {
    text-decoration: none;
    color: grey;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    transform: translateX(-4px);
  }

  .header__btn--image {
    filter: invert(70%);
  }
}

@media only screen and (min-width: 760px) {
  section {
    height: 150px;
  }

  .main-heading {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1100px) {
  section {
    width: 410px;
    height: 100vh;
  }

  .main-heading {
    font-size: 1.1em;
  }

  .header__btn {
    left: 415px;
    border-radius: 8%;
  }

  .header__btn a {
    color: black;
  }

  .header__btn--image {
    width: 100%;
    filter: invert(0);
  }
}

@media only screen and (min-width: 1400px) {
  .main-heading {
    font-size: 1.3em;
  }
  section {
    width: 450px;
  }
  .header__btn {
    left: 455px;
  }
}

/* ke komponentě Playgrounds */

.category-list__container {
  width: 100%;
  background-color: white;
  padding-top: 10px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.filters__button {
  flex-basis: 45%;
  margin: 5px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

@media only screen and (min-width: 600px) {
  .category-list__container {
    overflow-x: auto;
    overflow-y: auto;
  }

  .filters {
    flex-wrap: nowrap;
  }

  .filters__button {
    flex-basis: 20%;
  }
}

@media only screen and (min-width: 1100px) {
  .category-list__container {
    height: 80vh;
    position: relative;
    top: 80px;
  }

  .filters {
    flex-wrap: wrap;
  }

  .filters__button {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 1400px) {
  .category-list__container {
    top: 90px;
  }
}
