* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  background-color: white;
  position: relative;
  z-index: 1; /* jen kvůli form ikonce */
  width: 100vw;
  height: 130px;
}

@media only screen and (min-width: 760px) {
  section {
    height: 150px;
  }
}

@media only screen and (min-width: 1100px) {
  section {
    width: 400px;
    height: 100vh;
  }
}

@media only screen and (min-width: 1400px) {
  section {
    width: 430px;
  }
}

/* ke komponentě Playgrounds */

.filters {
  display: none;
}

@media only screen and (min-width: 760px) {
  .filters {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
    background-color: white;
    transform: translateY(60px);
  }

  .filters__button {
    width: 175px; /* 175px je nejužší možná šířka, aby se tam vešel i nejdelší parametr (houpačka pro dvojice) */
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background-color: rgb(240, 240, 240);
    border-radius: 3px;
    text-align: center;
  }

  .filters__button:hover {
    background-color: lightgray;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1100px) {
  .filters {
    position: absolute;
    top: -80px;
    left: 400px;
    background-color: transparent;
    /* při 1100px se vejdou vedle sebe, ale bez okrajů -> změnit celý breakpoint třeba na 1150px? */
  }
}
