* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.panel {
  background-color: white;
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 130px;
}

@media only screen and (min-width: 760px) {
  .panel {
    height: 180px;
  }
}

@media only screen and (min-width: 1100px) {
  .panel {
    width: 400px;
    height: 100vh;
  }

  .footer {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(240, 240, 240);
    color: black;
    font-size: 0.7em;
  }

  .footer a {
    color: black;
  }

  .footer a:hover {
    color: rgb(11, 11, 97);
  }
}

@media only screen and (min-width: 1400px) {
  .panel {
    width: 430px;
  }
}
