/* obecné styly pro filtry v Playgrounds */
/* TODO: extraktovat filtry do samostatne komponenty (FiltersContainer a FilterSelect) */

.filters__button--groups {
  background-color: #ff2222;
  color: white;
}

.filters__button--groups:hover {
  background-color: rgba(240, 240, 240);
  color: black;
}
