.map__control-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.marker__button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 10%;
  height: 50px;
}

.marker__button--playgrounds {
  background: #68bdff;
}

.marker__button--outdoor-spaces {
  background: #6cbf45;
}

.marker__button--inner-spaces {
  background: #ffcf00;
}

.marker__button--restaurants {
  background: #fb973c;
}

.marker__button--groups {
  background: #ff2222;
}

.marker__button--kindergartens {
  background: #eb00eb;
}

.marker__button--doctors {
  background: #512fd8;
}

.marker__icon {
  padding: 5px;
  filter: invert(100%);
}

.mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  border-radius: 3%;
}

.mapboxgl-popup-close-button {
  font-size: 1.5em;
  filter: invert(80%);
}

/* tohle by mělo jít spíš do CategoryItem stylů, pokud tady budeme používat tu komponentu */
.category-item__name {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 10px;
}
