.map__control-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.marker--playgrounds {
  background: #6cbf45;
  padding: 5px;
  border-radius: 10%;
}

.marker__button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 10%;
  height: 50px;
}

.mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  border-radius: 3%;
}

.category-item__name {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 10px;
}
