.map__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 200px;
}

.map__logo {
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 130px;
}

.map__control-panel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.marker__button {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 10%;
  cursor: pointer;
}

.marker__button--playgrounds {
  background: #68bdff;
}

.marker__button--outdoor-spaces {
  background: #6cbf45;
}

.marker__button--inner-spaces {
  background: #ffcf00;
}

.marker__button--restaurants {
  background: #fb973c;
}

.marker__button--groups {
  background: #ff2222;
}

.marker__button--kindergartens {
  background: #eb00eb;
}

.marker__button--doctors {
  background: #512fd8;
}

.marker__icon {
  padding: 5px;
  filter: invert(100%);
}

.mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
  border-radius: 3%;
}

.mapboxgl-popup-close-button {
  font-size: 1.5em;
  color: grey;
  outline: none;
}

.mapboxgl-popup-close-button:hover {
  background-color: white;
}


@media only screen and (min-width: 1100px) {
  .map__container {
    position: fixed;
    left: 400px;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .map__container {
    left: 450px;
  }
}

/* tohle musíme udělat jinak, rozhazuje to CategoryItem komponentu 
.category-item__name {
  font-size: 1.1em;
  margin-bottom: 25px;
  margin-top: 10px;
} */
